
<style>
    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid palevioletred;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border: 1px solid palevioletred;
      background-color: whitesmoke;
    }
  </style>

<p>
    <mat-toolbar style="background-color: pink;">
      <span style="color: palevioletred;;">        <h1> Juego gatito</h1>
      </span>
      
    </mat-toolbar>
  </p>
<main>

 <main class="content2">

    <div class="espera"> 
        <h1 class="titulo"> Esperando oponente...</h1>
    </div>


</main>