
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding-top: 30px;
    color: palevioletred;
    text-align: center;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 15px;
    color: palevioletred;
    text-align: center;
}
.formulario{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    width: 600px ;
    height: auto;
  }
  .inputs{
    width: 550px;
      padding-left: 10px;
      padding-right: 10px;
      height: 80px;
      background-color: black;
      border: 2px palevioletred;
    }
    .content {
        padding: 20px;
        background-color: black;
        border: 2px palevioletred;

      }
      .inicioSesion {
        color:palevioletred;
        font-size: 30px;
        margin-left: 8px;
        min-width: 120px;
        padding-bottom: 10px;
      }
      .boton-Crear {
      justify-content: center;
      display: block;
       width: 200px;
       height: 50px;
       background-color: black;
       border: 2px solid palevioletred;
       color: palevioletred;
       text-align: center;
       line-height: 50px;
       font-size: 16px;
       margin: 0 auto; 
       cursor: pointer;
      }
 .content2{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }