 @if (!loading) {
    <main> 
    <p>
        <mat-toolbar style="background-color: pink;">
          <span style="color: palevioletred;;"><h1> Juego gatito</h1>
          </span>
        </mat-toolbar>
      </p>
    <div class="container">
        <h2 style="color: palevioletred;">¡A JUGAR! </h2>
        <br>
        <div class="texto"> <h3> Presiona donde deseas atacar </h3> </div><br>
        
        
        
        
        <br>

        <div class="texto"> 
            <h2>Tablero</h2>
        </div>
        
        <table>
            <tr *ngFor="let row of gato?.tablero1; let rowIndex = index">
              <td *ngFor="let cell of row; let colIndex = index">
                <img
                  (click)="dibujar(rowIndex, colIndex)"
                  style="cursor: pointer;"
                  [src]="cell === 1 ? catTiles[2] : cell === 2 ? catTiles[1] : catTiles[0]"
                >
              </td>
            </tr>
          </table>
        
    
    <br>
    </div>
    </main>
    

 } @else { 
    <p>
        <mat-toolbar style="background-color: pink;">
          <span style="color: palevioletred;;">        <h1> Juego gatito</h1>
          </span>
          
        </mat-toolbar>
      </p>
    <main>
    
     <main class="content2">
    
        <div class="espera"> 
            <h1 class="titulo"> Esperando oponente...</h1>
        </div>
    </main>
    
    </main>
 }
