 @if (!loading) {


    <main style="background-color: black; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">    <p>
        <mat-toolbar style="background-color: black;">
          <span style="color: palevioletred;"><h1>JUEGO GATITO</h1></span>
        </mat-toolbar>
      </p>
    <div class="row row-guides" style="justify-content: center;">
        <div class="col"></div>
        <div class="col guide-col" *ngFor="let col of [0, 1, 2]">
        </div>
    </div>
    <div class="row" *ngFor="let row of tiles; let rowIndex=index">
        <div class="col guide-col"></div>
        <!-- Asegúrate de que los botones estén dentro de la columna (col) -->
        <div class="col" *ngFor="let tile of row; let colIndex=index">
            <!-- Los botones deben estar dentro de la columna (col) -->
            <button class="btn btn-info"[disabled]="!buttonStates[rowIndex][colIndex]" (click)="handleClick(rowIndex, colIndex)">
                <img class="img-fluid pixelated" [src]="tile">
            </button>
        </div>
    </div>
    
    </main>    



    
 } @else { 
    <main style="background-color: black;">

    <p>
        <mat-toolbar style="background-color: black;">
          <span style="color: palevioletred;;">        <h1> Juego gatito</h1>
          </span>
          
        </mat-toolbar>
      </p>
    
     <main class="content2">
    
        <div class="espera"> 
            <h1 class="titulo"> Esperando oponente...</h1>
        </div>
    </main>
    
    </main>
 }
