.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 90;
}

.col {
    margin: 9px;
    padding: 2;
    width: 80px;
    flex: none;
}

.guide-col {
    color: white;
}