<p>
    <mat-toolbar style="background-color: pink;">
      <span style="color: palevioletred;;">        <h1> Batalla Naval KK</h1>
      </span>
      
    </mat-toolbar>
  </p>
  <main class="content2">

    <mat-card class="formulario">
   <div>
   <div class="inicioSesion"> 
       <h1 class="titulo"> VERIFICATE </h1>
       <h3 class="texto"> Ingresa el codigo de 4 digitos que enviamos a tu correo. </h3>
   </div>
   </div>

    <div>
   
   <mat-form-field class="inputs">
    <mat-label>Codigo</mat-label>
    <input matInput placeholder="" [formControl]="code" required>
    @if (code.invalid) {
    <mat-error>{{getErrorMessageCode()}}</mat-error>
    }
     </mat-form-field>
  
    <section>
    <div >
   <button  (click)="verify()" class="boton-Crear"  mat-flat-button >Verificar</button>
    </div>
    </section>
   </div>   
   </mat-card>


</main>