<main style="background-color: black;"> 
<p>
    <mat-toolbar style="background-color: black;">
      <span style="color: palevioletred;;">Juego gatito</span>
    </mat-toolbar>
  </p>
<main>

 <main class="content2">

     <mat-card class="formulario">
    <div>
    <div class="inicioSesion"> 
        <h1 class="titulo"> INICIAR SESION </h1>
        <h3 class="texto"> Preparate para jugar </h3>
    </div>
    </div>

     <div>
    
    <mat-form-field class="inputs">
     <mat-label>Email</mat-label>
     <input matInput placeholder="correo@ejemplo.com" [formControl]="email" required>
     @if (email.invalid) {
     <mat-error>{{getErrorMessageEmail()}}</mat-error>
     }
     
    </mat-form-field>
    <mat-form-field class="inputs">
     <mat-label>Password</mat-label>
     <input matInput placeholder="Contraseña" [formControl]="password" required [type]="hide ? 'password' : 'text'">
     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
     <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
     </button>
     >
     @if (password.invalid) {
     <mat-error>{{getErrorMessagePassword()}}</mat-error>
     } </mat-form-field>
     <section>
     <div >
    <button (click)="login()" class="boton-Crear"  mat-flat-button >Iniciar</button>
     </div>
     </section>
    </div>
    <br>
    <div> 
      <h3 class="texto"> ¿No estas registrado?</h3>
      <h3 class="texto"> <a href="/register"> Crear una cuenta</a></h3>
      <br>
    </div>

    
    </mat-card>


</main></main>