<p>
    <mat-toolbar style="background-color: pink;">
      <span style="color: palevioletred;;"> <a style="color: palevioletred; padding: 10px;" href="login"> Iniciar sesion</a>
        <a style="color: palevioletred; padding: 10px;" href="register"> Registrarse</a>
      </span>
    </mat-toolbar>


  </p>
<main>

 <main class="content2">

     <mat-card class="formulario">
    <div>
    <div class="inicioSesion"> 
        <h1 class="titulo">Juego gatito</h1>
    </div>
    </div>

     <div>

        <h3 class="texto"> Es un juego de estrategia en el que dos jugadores compiten por colocar sus marcas ('X' y 'O') en un tablero de 3x3, con el objetivo de alinear tres de sus marcas en línea, ya sea horizontal, vertical o diagonalmente, antes que su oponente </h3>
        <h2 class="texto"> Reglas:</h2>

        <h3 class="texto">
          Tablero de 3x3. <br>
          Dos jugadores: "X" y "O".<br>
          Gana quien alinee tres de sus marcas en línea, horizontal, vertical o diagonal.<br>
          Turnos alternados empieza el ultimo en unirse a la partida.<br>
          Empate si el tablero se llena sin alinear tres marcas.<br>
            </h3>
            <h2 class="texto"> Para jugar necesitaras una cuenta</h2>
            <a style="color: palevioletred; padding: 90px;" href="login"> Iniciar sesion</a>
            <a style="color: palevioletred; padding: 100px;" href="register"> Registrarse</a>
          
    
    </div>   
    </mat-card>


</main>