 @if (!loading) {
    <main style="background-color: black;"> 
    <p>
        <mat-toolbar style="background-color: pink;">
          <span style="color: palevioletred;;">        <h1> Juego gatito</h1>
          </span>
        </mat-toolbar>
      </p>
    <div class="container">
        <h2 style="color: palevioletred;">¡A JUGAR! </h2>
        <br>
        <div class="texto"> <h3> Presiona donde deseas atacar </h3> </div><br>
        
        
        
        <br>

        <div class="texto"> 
            <h2>Tablero</h2>
        </div>
        
        <table>
            @for (x of lobby?.tablero1; track x; let index = $index) {
                <tr>
                    @for (y of x; track y; let indey = $index) {
                        <td>
                            @if (idUser == (lobby?.jugador1 ?? 0).toString()) {
                                <img [src]="waterTiles[y]" >
                            } @else {
                                <img (click)="disparar(index, indey)" style="cursor: pointer;" [src]="y == 2 ? waterTiles[y] : waterTiles[0] " >
                            }
                        </td>
                    }
                </tr>
            }
        </table>
        
    
    <br>
    </div>
    </main>
    

 } @else { 
    <p>
        <mat-toolbar style="background-color: pink;">
          <span style="color: palevioletred;;">        <h1> Juego gatito</h1>
          </span>
          
        </mat-toolbar>
      </p>
    <main>
    
     <main class="content2">
    
        <div class="espera"> 
            <h1 class="titulo"> Esperando oponente...</h1>
        </div>
    </main>
    
    </main>
 }
